/* Add font from Google Fonts */
* {
    font-family: 'Raleway', sans-serif;
}

/* Change positioning of the header */
header {
    position: relative;
}

/* Add an image that covers full-height on landing page */
.hero {
    background-image: url('../images/Hero.jpg');
    background-size: cover;
}

/* Remove underline from the navigation bar menu */
.navbar-item {
    text-decoration-line: none;
}

/* Make dropdown menu transparent */
.transparent {
    background-color: transparent;
    box-shadow: none;
}

/* Add margin around the list and quotes sections */
section {
    margin: 2%;
}

/* Make search input for the search anime form center */
#searchFunction {
    text-align: center;
}

/* Make quotes align in the center */
li {
    margin: 2%;
    text-align: center;
    list-style-type:decimal-leading-zero;
    line-height: 2.0;
}

/* Add styling and layout for the footer */
footer {
    text-align: center;
    background-color:#25244e;
    font-size: 24px;
    color: #fe7733;
}

/* Add margin around the footer message */
h5 {
    padding: 1%;
}

/* Make a line through the word "never" */
.bold {
   text-decoration: line-through;
}

/* Make anime results display in the center with spacing between each column */
#searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
}

/* Add an image background for the anime search modal */
.modal-body {
    background-image: url(../images/Search.jpg);
    background-size: cover;
}

/* Set layout for the modal button */
#modal-button {
    padding: 5px 18px;
    font-size: 20px;
    border-radius: 50%;
}

/* Set layout for the anime search results in the modal */
#anime-tiles {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Set hover effect for the anime options in the anime search modal */
.img-container {
    opacity:70%;
}
.img-container:hover {
    opacity:100%;
}

/* Set styling and positioning for the buttons in the anime search modal */
.add-button {
    border: solid 3px rgb(255, 255, 255);
    background-color: white;
    opacity: 70%;
    border-radius: 20px;
    font-size:30px;
    position: relative;
    top: 45px;
    left: 75%;
    width: 15%;
}

/* Set styling and positioning for the remove and completed buttons on the anime list cards */
#completed-btn,
#remove-btn {
    padding: 7px 13px;
    position: relative;
}

/* Hides the header of the anime cards */
.card-header {
    background-color: inherit;
    box-shadow: none;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    opacity: 0%;
}

/* Shows the header of the anime cards along with the buttons */
.card-header:hover {
    opacity: 100%;
}